<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Configurações de conexão com o banco PostgreSQL -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/agenda_contatos</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>

        <!-- Dialeto do PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Configurações de pool de conexões -->
        <property name="hibernate.connection.pool_size">10</property>

        <!-- Mostrar SQLs gerados -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Criar/atualizar schema do banco -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapeamento das classes -->
        <mapping class="edu.sysagenda.model.entity.Contato"/>
    </session-factory>
</hibernate-configuration>